bokeh==3.8.2
datasets==4.8.2
huggingface_hub==1.7.1
ijson==3.5.0
joblib==1.5.3
lightgbm==4.6.0
matplotlib==3.11.0
numpy==2.4.6
optuna==4.9.0
ortools==9.15.6755
pandas==3.0.3
pyarrow==23.0.0
pyphen==0.17.2
pytest==9.0.2
rapidfuzz==3.14.5
scikit-learn==1.9.0
scipy==1.17.1
shap==0.51.0
torch
tqdm==4.67.3
wordfreq==3.1.1
